ion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ion-header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

ion-header div ion-avatar img {
    border: solid var(--ion-color-light-shade) 5px;
    cursor: pointer;
}

ion-header div ion-text span,
ion-header div ion-text p {
    margin: 0;
    line-height: 1.2;
}

ion-header div ion-text span {
    font-size: 1.4rem;
}

ion-header div ion-text p {
    color: var(--ion-color-medium);
}

ion-header ion-icon {
    font-size: 1.7rem;
    color: var(--ion-color-medium-shade);
    cursor: pointer;
}

ion-content ion-searchbar {
    border-radius: 30px;
    background: #eef0f2;
    --background: #eef0f2;
    --height: 100px;
    width: 90%;
    margin: auto;
}

swiper-slide {
    width: 90%;
    height: 180px;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

swiper-slide img {
    width: 40px;
    height: 40px;
}

swiper-slide:nth-child(1) {
    background: #EBF1FF;
}

swiper-slide:nth-child(1) .icon {
    background: #87AAFF;
    border-radius: 50%;
    padding: 1rem;
}

swiper-slide:nth-child(2) {
    background: #E7F9F2;
}

swiper-slide:nth-child(2) .icon {
    background: #71D9B3;
    border-radius: 50%;
    padding: 1rem;
}

swiper-slide:nth-child(3) {
    background: #FDEDF1;
}

swiper-slide:nth-child(3) .icon {
    background: #F591A9;
    border-radius: 50%;
    padding: 1rem;
}

.credencial-list .credencial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.credencial-list .credencial .left .icone {
    background: #F1F5FC;
    padding: 1rem;
    border-radius: 30%;
}

.credencial-list .credencial .left .icone img {
    width: 40px;
    height: 40px;
}

.credencial-list .credencial .left {
    text-align: center;
    flex: 20%
}

.credencial-list .credencial .center {
    flex: 85%;
    padding-left: 1rem;
}

.credencial-list .credencial .center ion-text {
    font-weight: bold;
    letter-spacing: 0.1rem;
    line-height: 0.4rem;
}

.credencial-list .credencial .center ion-text p {
    color: #758393;
    font-size: 0.9rem;
    font-weight: normal;
}

.credencial-list .credencial .right {
    flex: 10%;
    text-align: center;
}

.credencial-list .credencial .right ion-icon {
    font-size: 1.5rem;
    color: #758393;
}