<ion-header [translucent]="true" class="ion-no-border ion-padding">
  <div>
    <ion-avatar>
      <img src="../../../assets/photos/avatar.png" />
    </ion-avatar>
    <ion-text>
      <span>Hello, John</span>
      <p>Good Morning</p>
    </ion-text>
  </div>
  <ion-icon name="notifications-outline"></ion-icon>
</ion-header>

<ion-content>

  <ion-searchbar placeholder="Search password" mode="ios"></ion-searchbar>

  <div class="cabecalho ion-padding">
    <h3>What do you want to save?</h3>
  </div>

</ion-content>